<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!--
   BootCDN 是 Bootstrap 中文网和又拍云共同支持并维护的前端开源项目免费 CDN 服务，
  由又拍云提供全部 CDN 支持，致力于为 Bootstrap、jQuery、Angular、Vuejs
  一样优秀的前端开源项目提供稳定、快速的免费 CDN 加速服务。
  BootCDN 所收录的开源项目主要同步于 cdnjs 仓库。
-->
<script src="http://cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
</head>
<body>
<!--
<div ng-app="myApp" ng-controller="myCtrl">
  <h1>{{love}}</h1>
</div>

<script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
    $scope.love = "Myra";
  });
</script>
-->

<div ng-app="myApp" ng-controller="myCtrl">
    <input ng-model="name">
    <h1>{{greeting}}</h1>
    <button ng-click='sayHello()'>点我</button>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.name = "Myra";
    $scope.sayHello = function() {
        $scope.greeting = 'I Love ' + $scope.name + '!';
    };
});
</script>

<!--
<div ng-app="myApp" ng-controller="myCtrl">
  <ul>
     <li ng-repeat="x in names">{{x}}</li>
  </ul>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.names = ["Emil", "Tobias", "Linus"];
});
</script>
-->

<!--
<div ng-app="myApp" ng-controller="myCtrl">
  <h1>{{lastname}} 家族成员:</h1>
  <ul>
     <li ng-repeat="x in names">{{x}} {{lastname}}</li>
  </ul>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $rootScope) {
    $scope.names = ["Emil", "Tobias", "Linus"];
    $rootScope.lastname = "Refsnes";
});
</script>
-->

</body>
</html>
